


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand {
    
    padding-left: 4rem;
}

.nav-item {
    padding-left:18px;
    padding-right: 18px; 
}

.navbar-nav {
    margin-right: 3rem;
}


body {
    background-color: #F9EBC8;
}

/*#intro {
  
} */



.body-structure{
    background-color: #FEFBE7;
    margin-top: 5rem;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding-left: 5rem;
   
}


.hello{
   margin-left: 1rem;
}



.name{
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem;
    margin-left: 1rem;     
}

.brief {
    width: 50%;
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: left;
    
}


img {
    margin-left: 10rem;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;

}

.drop-shadow {
    filter: drop-shadow(5px 5px 5px #555);
}



.btn {
   color: #A0BCC2;
   border-color: #A0BCC2;
   border-width: 5px;
   font-weight:600;
   
}


.download-btn {
    color:  #A0BCC2;
}

.download-btn:hover {
    color:#3e95a8
}


.btn:hover {
    color:#3e95a8;
}



.icon {
    color: #A0BCC2;
    
}

.icon:hover{
   color:#3e95a8;
}


.heading {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #A0BCC2;

}


hr {
   color: #A0BCC2;
   width: 75%;
   margin-left: 12.5%;
}

p {
    font-family: 'Montserrat', sans-serif;
}


.skill {
  padding-top: 2rem;
  text-align: center;
  margin-top: 3rem;
}

.hobbies {
    padding-top: 2rem;
    text-align: center;
 
}

.cont {
    padding-top: 2rem;
    text-align: center;
}



.form {
    margin-left: 10rem;
}

.submit-form-btn {
    width: 10%
  
}